w = blue

h1
	color: w
	margin-top: 50px

p{
	color: w
}

#pfront, #tempConv, h1
	text-align: center

li
	display: inline

#tempConv {
	border-radius: 15px
	border: 3px solid w
	width: 200px
	margin:auto
	}

body 
	background-color: lighten(w, 50%)